### Loading data into Pandas

In [113]:
import pandas as pd #importing the library

df = pd.read_csv("pokemon_data.csv") # reading a csv file
#df_txt = pd.read_csv("pokemon_data.txt", delimiter = "\t") # reading txt files, use the delimiter "\t"
#df_excel = pd.read_excel("pokemon_data.xlsx", sheet_name = 0) # reading excel file

df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

### Reading Data into Pandas

In [114]:
## reading column names
#print(df.columns)

## reading each column
# df[["Name", "Type 1"]] #reading through column names

## reading each row
## reading row by index index localization or iloc
# df.iloc[0:4]

# iterating through rows:
#for index, row in df.iterrows():
    #print(index, row["Name"]) #only the name of each row

df.loc[df["Type 1"] == "Grass"] #filtering/using the query type

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

### Sorting Values in our dataset

In [115]:
#df.describe() #describing data using

df.sort_values(["Type 1", "HP"],  ascending = [1,0]) #we can have different ascending, descending using multiple columns

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

### Making changes to the data

In [116]:
#creating a new column making operations in another columns
#df["Total"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]

#df = df.drop(columns = ["Total"]) #droping a column

df["Total"] = df.iloc[:,4:10].sum(axis = 1) #axis = 1 summing horizontally axis = 0 summing vertically
#in this case if axis = 0, total = NaN

#another way to make changes to the data is using columns list
cols = list(df.columns)
#to re-arrange the columns, one way of doing it:
df = df[cols[0:4] + cols[-1:] + cols[4:12]]
#another way to re-indexing the columns order is:
#df = df[["#", "Name", "Type 1", "Type 2", "Total"]]

df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

### Writing files

In [119]:
df.to_csv("modified.csv", index = False) #to save a csv file
df.to_excel("modified.xlsx", index = False) #to save an excel file

# df.to_csv("modified.txt", index = False, delimiter ="\t") #save a txt file

### Filtering data

In [151]:
#df.loc[(df["Type 1"] == "Grass") | (df["Type 2"] == "Poison") & (df["HP"] > 70)].reset_index(drop = True) #different conditions BETWEEN PARENTHESIS
## it is also important to reset the INDEX AFTER FILTERING

import re

df.loc[~df["Name"].str.contains("^pi[a-z]*", regex = True, flags = re.I)] #the ~ is the NOT ^pi[a-z] starts with pi or Pi and any letter a through z after

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### Conditional Changes

In [167]:
#basically it
df.loc[df["Total"] > 500, ["Legendary", "Generation"]] = [True, 10] #multiple condition assigments
#in this case if column total > 500, legendary = true and generation = 10

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,10,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,10,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,10,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,10,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,10,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,10,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,10,True

### Aggregate Statistics using Group_by

In [183]:
df = pd.read_csv("modified.csv")
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [194]:
df.groupby(["Type 1"]).sum().sort_values("Legendary", ascending = False)["Legendary"]

Type 1
Psychic     14
Dragon      12
Fire         5
Water        4
Ground       4
Electric     4
Steel        4
Rock         4
Grass        3
Dark         2
Ghost        2
Ice          2
Normal       2
Flying       2
Fairy        1
Poison       0
Fighting     0
Bug          0
Name: Legendary, dtype: int64